<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="color" class="me.hawaijar.Color">
        <property name="name" value="Yellow"></property>
    </bean>
    <bean id = "shape" class = "me.hawaijar.Triangle">
        <property name="name" value="Triangle"></property>
        <constructor-arg ref="color" />
    </bean>

</beans>